framework: netstandard2.0, netcoreapp3.1
storage: none

source https://api.nuget.org/v3/index.json

nuget Aardvark.Build               ~> 1.0.11

nuget Aardvark.Base                ~> 5.2.2
nuget Aardvark.Base.Tensors        ~> 5.2.2
nuget Aardvark.PixImage.DevIL      ~> 5.2.2