framework: netstandard2.0, netcoreapp3.1

source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

nuget Aardvark.Base                ~> 5.1.3
nuget Aardvark.Base.Tensors        ~> 5.1.3
nuget Aardvark.PixImage.DevIL      ~> 5.1.3

group Build
framework: netstandard2.0
source https://api.nuget.org/v3/index.json
github aardvark-platform/aardvark.fake:v511