framework: auto-detect
storage: none

source https://api.nuget.org/v3/index.json

nuget Aardvark.Build               ~> 2.0.5

nuget Aardvark.Base                ~> 5.3.19
nuget Aardvark.Base.Tensors        ~> 5.3.19

nuget Aardvark.PixImage.DevIL      ~> 5.2.33