type project
id Aardvark.OpenImageDenoise
authors Aardvark Community
owners Aardvark Community
repositoryType git
repositoryUrl https://github.com/aardvark-community/Aardvark.OpenImageDenoise
description
    Aardvark.OpenImageDenoise
include-pdbs true